#body {
    background-image:url("tan.png");
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    font-family: "lobster";
}

.glyphicon {
  display: inline-block;
  padding-right:30px;
}

@font-face {
  font-family: "lobster";
  src: url("lobster.otf");
}

.icon {
  text-align: center;
}

/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use151.cur), progress !important;} /* End http://www.cursors-4u.com */
